@CHARSET "windows-1255";
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
div::-webkit-scrollbar {
    width: 1em;
}
 
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
h1{
  font-size: 40px;
  letter-spacing: 8px;
  text-shadow: 2px 4px 4px #CCCCCC;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;

}
.tbl-header{
  background-color: rgba(250,178,58,0.9);
 }
 .tbl-header-mentee{
  background-color: rgba(250,178,58,0.9);
 }
 .tbl-header-mentor{
  background-color: rgba(108,136,225,0.9);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  word-wrap: break-word;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  border-right: solid 1px rgba(255,255,255,0.3);
  word-wrap: break-word;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background-color: #232334;
  font-family: 'Century Gothic', sans-serif;
  height:100%;
}
section{
  top:0;
  margin-top: 90px; 
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 10px;

}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

body {
	top:0;
	margin:0
}
tbody{
	background-color: rgba(250,178,58,0.7);
}
tbody.mentee{
	background-color: rgba(250,178,58,0.7);
}
tbody.mentor{
	background-color: rgba(108,136,225,0.7);
}
.icon-bar {
	top:30vh;
    width: 90px;
    background-color: #555;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: rgba(85,199,93,1) !important;
}
i{
margin-right:2px;
}

html{
	
	height:100%;
}
nav.icon-bar{
	top:0;
	position:fixed;
	height:100%;
	background-color: #555;
}
div.icon-bar{
    margin-left: auto;
    margin-right: auto; 
	display: table-cell;
    vertical-align: middle;
	position:fixed;
	top: calc((100% - 490px) / 2);
	bottom:0;
}
h1{
	position: absolute;
	top:5%;
	right:0;
	left:90px;
}
button{
outline: none !important;
}
.btn-primary, .btn-primary:active, .btn-primary:visited,.btn-primary:focus {
	margin-top:20px;
    background-color: rgba(255,255,255,0.3);
	outline: none !important;
	color: white !important;
	cursor: pointer !important;
	border-color: rgba(255,255,255,0.1);
}
.btn-primary:hover{
margin-top:20px;
    background-color: rgba(255,255,255,0.5);
	outline: none !important;
	color: white !important;
	cursor: pointer !important;
	border-color: rgba(255,255,255,0.1);
}
tr.para:hover td{
	background-color:#f5f5f5;
	color: #69A489;
}

h5{
	color: #fff;;
}
.para.selected {
    background-color:#f5f5f5;
	color: #69A489;
}
tr.selected td{
	color: #69A489;
}

.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.dropdown-menu .label-icon { margin-left: 5px;
	color: #1AD79E;
	font-weight: bold;
 }
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.navbar{
	padding-right: 0px ; 
	padding-left: 0px;
}

#searchB{
	background-color: rgba(255,255,255,0.3);
	color: #fff;	
}

#dropdownM{
	background-color: #fff;
	opacity: 0.9;
	width: 105px;
}

#myInput,#myInput1{
	background-color: #fff;
	opacity: 0.9;
	
}
li:hover{
	background-color: #BDCFC9;
}

.label-icon:hover{
 	text-decoration: underline #BDCFC9;
}


.goBack{
	font-size: 50px;
	color: #555;
	margin-bottom: 20px;
}