div.nameTags{
	top:4vh;
	height:17.5vh;
	position: fixed;
	z-index: 2;
	width: 32%;
	background-color: white;
	border-radius:18px;
	/*box-shadow: 4px 4px 4px rgba(136,136,136,0.9);*/
}
p.nameTag{
	font-size: 3vh;
    padding-left: 10px;
    left: 12vh;
    position: absolute;
    width: 20vw;
    word-wrap: break-word;
    top: 6vh;
}
div.menteeMeetings{
	left:110px;
}
div.mentorMeetings{
	right: 30px;
}

.tsofen{
	position: fixed;
	right:0;
	left:90px;
	font-size: 30px;
 	color: #fff;
 	text-transform: uppercase;
 	font-weight: 300;
 	text-align: center;
 	margin-bottom: 15px;
 	top:15%;
 	bottom:0;
	  text-align: center;
	  font-size: 200px;
	  font-family:AR DARLING;
	  color: #fff;
}
th.mentor{
	background-color: rgb(108,136,225)
}
th.mentee{
	background-color: #FFC107;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	/*padding: 12px 20px;*/
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}




@CHARSET "windows-1255";
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
div::-webkit-scrollbar {
    width: 1em;
}
 
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
h1{
  z-index: 2;
  position: fixed;
  top:5%;
  right:0;
  left:90px;
  font-size: 32px;
  letter-spacing: 8px;
  text-shadow: 2px 4px 4px #CCCCCC;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
h4{
  font-size: 40px;
  text-shadow: 2px 4px 4px #CCCCCC;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  margin-bottom: 10px;
}
table{
  width:100%;
  table-layout: fixed;

}
.tbl-header{
  background-color: rgb(60,78,176);
 }
 .tbl-header-meeting{
  background-color: rgba(123,31,162,0.9);
 }
 .tbl-header-mentee{
  background-color: #FFC107;
 }
 .tbl-header-mentor{
  background-color: rgba(108,136,225,0.9);
 }
.tbl-content{
   max-height: 37vh;
    overflow-y: auto;
    overflow-x: hidden;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.tbl-content-pair
{
	height: 220px !important;
}
th{
  padding: 20px 15px !important;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  word-wrap: break-word;
}

td{
  padding: 15px !important;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  border-right: solid 1px rgba(255,255,255,0.3);
  word-wrap: break-word;
}
td.but{
	text-align: left;
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  font-family: Helvetica;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100%;
    top: 0;
    position: absolute;
    color: #333;
    background-color: #fff;
}
div.topPart{
	position: fixed;
	z-index:1;
	top:0;
	height:30%;	
	width:100%;
	background-color: rgb(46,61,154);
}
div.bottomPart{
	position: fixed;
	z-index:1;
	top: 30%;
    height: 70%;
	background-color: rgb(191,196,226);
	width:100%;
}
div.inner{
border-radius: 20px;
    z-index: 4;
    background-color: white;
    position: fixed;
    right: 20px;
    left: 100px;
    /* width: 85%; */
    top: 25%;
    bottom: 5%;
    max-height: 70%;
    background-color: white;
    box-shadow: 5px 5px 5px #888888;
}
 
div.inner--left{
		top:2%;
       	left: 100px;
        height: 20%;
}
div.inner--right{
	
}
section{
	width: 96%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    z-index: 2;
}
section.Pairs {
   	width: 96% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 3vh !important;
}
.topButton{
    margin-bottom: 5% !important;;
}
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
a.createPairs{
	position: fixed;
    z-index: 8;
    top: 50%;
    width: calc(8%) !important;
    height: 12% !important;
    left: calc(100px + 41%) !important;
}

tbody{
	background-color: white;
}
tbody.mentee{
	background-color: rgba(255, 193, 7, 0.7);
}
tbody.mentor{
	background-color: rgba(108,136,225,0.7);
}
tbody.meeting{
	background-color:rgba(123,31,162,0.7);
}
.icon-bar {
	top:30vh;
    width: 90px;
    background-color: #555;
    
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: rgba(85,199,93,0.7) !important;
}
i{
margin-right:2px;
}

html{
	
	height:100%;
}
nav.icon-bar{
	z-index: 2;
	top:0;
	position:fixed;
	height:100%;
	background-color: #555;
	max-width:80px;
	width:12%;
}
div.icon-bar{
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    top: calc((100% - 490px) / 2);
    width: 12%;
    bottom: 0;
    max-width:80px;
}
h1{

}
button{
outline: none !important;
}
.btn-primary, .btn-primary:active, .btn-primary:visited,.btn-primary:focus {

    background-color: rgba(255, 156, 60, 0.9) !important;
	outline: none !important;
	color: white !important;
	cursor: pointer !important;
	border-color: rgba(255, 156, 60, 0.9) !important;
	border-radius: 20px !important;
	right:0 !important;
	float:right;
	box-shadow: 2px 3px 4px #888888;
}
.btn-primary:hover{
	border-radius:20px;
    background-color: rgba(255, 156, 60, 0.7) !important;
	outline: none !important;
	color: white !important;
	cursor: pointer !important;
	border-color: rgba(255, 156, 60, 0.7) !important;
}
.btn-addClick{
	position: absolute;
    right: 2% !important;
	margin-top:1.8% !important;
	width:30% !important;
	float:right;
	width:30% !important;
	float:right;
	margin-bottom: 2vh;
	bottom: 2vh;
}
.btn-pairClick{
	margin-top:1.8% !important;
	width:30% !important;
	float:right;
}
tr.para:hover td{
	background-color:#f5f5f5;
	color: #69A489;
}
tr.mentor:hover td{
	background-color:rgba(108,136,225,0.6) !important;
	color: black;
}
tr.mentee:hover td{
	background-color:rgba(255,193,7,0.6) !important;
	color: black;
}
h5{
	color: black;
}
.MenteeTR{
	background-color:rgb(154,89,183);'
}
.MentorTR{
	background-color:rgb(45,204,112);'
}
.AllMent{
	background-color:white;
}
h3{
    color: black;
    margin-left: 20px;
}
tr.para.selected {
    background-color:#f5f5f5;
	color: #69A489;
}
tr.mentor.selected {
    background-color:rgba(108,136,225,0.9) !important;
	color: black;
}
tr.mentee.selected {
    background-color:rgba(255,193,7,0.9) !important;
	color: black;
}

.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.dropdown-menu .label-icon { margin-left: 5px;
	color: black;
	font-weight: bold;
 }
.btn-outline {
    background-color: transparent;
    transition: all .5s;
}
.navbar{
	padding-right: 0px ; 
	padding-left: 0px;
}
.navbar-default {
	 background-color: transparent;
     border-color: transparent;
}
#searchB{
	background-color: black;
	color: #fff;	
}

#dropdownM{
	background-color: #fff;
	opacity: 0.9;
	width: 105px;
}

#myInput,#myInput1{
	background-color: #fff;
	opacity: 0.9;	
}
.show {
    display: table-cell !important;
}

.label-icon:hover{
 	text-decoration: underline #BDCFC9;
}

.goBack{
	font-size: 50px;
	color: #555;
	margin-bottom: 20px;
}

.modal-content{
	width:500px;
	height:500px;
	margin-left:200px;
}
.modal-header{
	border-bottom-width: 0px;
}
.close{
	position: absolute;
	right:0;
	top:0;
	margin-right:10px;
	margin-top:10px;
}
img.nameTag{
	height: 10vh;
    width: 10vh;
    position: absolute;
    top: 6.5vh;
    left: 2vh;
    border-radius: 20px;
}
h2{
	font-size: 4vh;
    margin-top: 0;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 10px;
    background-color: #FFC107;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    color: white;
}
h2.mentor{
	background-color: rgba(108,136,225,0.9);
}
img
{
	height: 60px;
    width: 60px;
}
tr:hover td.inf{
	background-color:#f5f5f5;
	color: #69A489;
}
tr.selected td.inf{
	background-color:#f5f5f5;
	color: #69A489;
}
.hidden_row{
	display: none;
}
.tab {
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 2s ease-in-out;
}
#gender1,#gender2{
}
ul {
	float: left;
	width:12%;
	padding-left: 0;
    list-style-type: none;
    overflow: hidden;
    margin-top: 0.75vh !important;
    margin-left:2%;
}
li.reports{
	font-size: 2.8vh;
    padding-top: 1.0vh;
    padding-bottom: 1.0vh;
    margin-bottom: 0.5vh;
    padding-left: 15px;
    border-radius: 10px;
}
a.reportsSendButton{
	border-radius: 12px;
	float: right;
    margin-right: 10px;
    margin-top: 15px;
}
label.reports{
	margin-top: 5px;
	margin-left: 10%;
    margin-right: 8px;
}
li.clicked{
	background-color: 	rgb(191,196,226);
}
li:hover{
	background-color: 	rgb(191,196,226);
}
form.reports{
	width:84%;
	margin-top:10px;
	float:left;
	margin-left: 2%;
}
input.reports{
	padding-left: 2px;
	font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select.reports
{
	font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
a.reports
{
	border-radius: 18px;
    /* padding-left: 0.5vh; */
    margin-left: 0.5vw;
    font-size: 3vh;
    padding-top: 1.1vh;
    padding-bottom: 1.0vh;
    margin-top: 0.5vh;
}



.btn {
    background-color: #bdcebe;
}
.row {
    margin-right: -300px;
    margin-left: 2px;
}
	div.waiting{
		position:fixed;
		z-index: 12;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background-color: rgb(46,61,154);
	}
	p.sorry{
		font-size:20px;
		width: 100%;
		position: absolute;
		top: 60vh;
		text-align: center;
		color: white;
	}
  .loader {
  top: 20vh;
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}